@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

.margin_sections {
  margin-top: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
footer p {
  margin: 25px;
  color: black;
}
footer section {
  margin: 0px 25px;
}
footer section a {
  text-decoration: none;
  margin: 10px;
}
footer section a svg {
  color: black;
}

#nav li {
  margin: 0px 10px;
}
#nav li a {
  color: grey;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
#nav li a:hover {
  color: grey;
  background-size: 100% 2px;
}
#nav li button {
  color: grey;
  margin-top: 5px;
  border: none;
  background-color: white;
}

nav section a img {
  width: 80px;
}

.bg_button {
  background-color: black;
  color: white;
  border-style: none;
}
.bg_button:hover {
  color: white;
  background-color: grey;
}

.bg_snk {
  background-color: #f4f4f4;
}

.main_unete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  flex-direction: column;
}

.form {
  margin: 5px;
}
.form button {
  height: 35px;
}

.error {
  border-color: rgb(255, 0, 106);
  border-style: solid;
}

.text_error {
  margin-top: 10px;
  display: flex;
  color: rgb(255, 0, 106);
}
.text_error svg {
  margin-top: 3px;
  margin-right: 10px;
}

@media (width <= 990px) {
  #nav li a:hover {
    background-size: 15% 2px;
  }
  header {
    background-image: url(../img/banner_mobile.jpg);
    width: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    width: 100%;
  }
  header section h1 {
    font-size: 1.5em;
  }
  header section div a {
    margin: 10px;
  }
  .card_ropa {
    width: 85vw;
  }
  .unete_index {
    height: 30vh;
  }
  .unete_index h2 {
    margin-top: 20px;
  }
  .p_mobile {
    font-size: 0.8em;
  }
  .form {
    width: 75vw;
  }
  .titulo {
    margin: 25px;
  }
  .tendencias {
    flex-direction: column;
  }
  .tendencias img {
    width: 80vw;
    order: 1;
  }
  .tendencias div {
    margin: 15px;
    width: 80vw;
    order: 2;
  }
  .artistas1 {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 50px;
  }
  .artistas1 .img {
    width: 80%;
    height: auto;
    order: 1;
  }
  .artistas1 h2 {
    text-align: center;
    position: static;
    width: 80%;
    margin: 20px 0px 0px 0px;
    font-size: 1.6em;
    order: 2;
  }
  .artistas1 figure {
    width: 80%;
    align-self: center;
    order: 3;
  }
  .artistas1 figure img {
    display: none;
  }
  .discos {
    display: none;
  }
  .artistas2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .artistas2 .img {
    order: 1;
  }
  .artistas2 article {
    order: 2;
    margin: 20px 0px 0px 0px;
    width: 80%;
    align-self: center;
  }
  .artistas2 article h2 {
    font-size: 1.6em;
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  #rauw {
    text-align: center;
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}
.itemCarrito {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px;
}
.itemCarrito img {
  width: 40%;
}
.itemCarrito section {
  margin-left: 15px;
  width: 100%;
}
.itemCarrito section h3 {
  width: 100%;
  font-size: 1.5em;
}
.itemCarrito section div {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
}
.itemCarrito section div p {
  margin-right: 20px;
}

.carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
