.itemCarrito{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;

    img{
        width: 40%;
    }

    section{
        margin-left: 15px;
        width: 100%;
        h3{
            width: 100%;
            font-size: 1.5em;
        }
        div{
            display: flex;
            flex-direction: row;
            align-items: first baseline;

            p{
                margin-right: 20px;
            }
        }
    }
}

.carrito{
    @include displayFlex(center, center);
    flex-direction: column;
}
